.container.company-logos {
    max-width: 50%;  
    margin: 40px auto;
    text-align: center;
    background: white;
    color: #818078;
    font-family: Futura, sans-serif;
}
  
.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    padding-top: 10px;
}

.hr-text:before {
    content: '';
    background: #818078;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 3px;
    opacity: .5;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0em;
    padding-top: 0em;
    line-height: 0.5em;
    background-color: #fcfcfa;
    font-size: 30px;
    font-weight: bold;
}

div.company-logo-single > .ups {
    width: 30%;
    margin: 0px auto;
    /*margin-left: 40%;*/
}

.company-logos-bottom {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0px auto;
}

.company-dhl, .company-dpd {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.company-dpd {
    margin-left: -10px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-copyright {
    background-color: black;
    color: white;
    height: 68px;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    text-align: center;
    font-size: 20px;
}

.footer-parent {
    padding-top: 7.0em;
    padding-left: 7.5em;
    padding-bottom: 2em;
    background: linear-gradient(to top right, #eae9e9 50%, transparent 50%) no-repeat top, /* bottom part */
    linear-gradient(0deg, #eae9e9, #eae9e9) no-repeat bottom;
    /* top portion */
    background-size: 100% 12em, 100% calc(100% - 12em);
    margin-top: 50px;
}

.footer-row {
    margin-left: 15px;
    margin-right: 15px;
}

.before-footer-wrapper > .footer-title {
    font-size: 62px;
    width: 44%;
    margin: 0px auto;
    margin-bottom: 50px;
}

.before-footer-wrapper > .footer-title span {
    line-height: 1.3em;
}

.download-app {
    width: 280px;
    height: 90px;
    /* padding-left: 5px;
    padding-right: 5px; */
}
.companies-logo-wrapper {
    padding-bottom: 20px;
}
/* .col-xs-5ths:first-child { 
    max-width: 100px;
} */
#footer {
    min-height: 600px;
}

#footer h3.widget-title {
    font-weight: bold;
}

.localization-footer {
    float: none;
    display: table-cell;
    vertical-align: bottom;
}
.colorTextGreen {
    color: #37b89f;
}
#footer .widget-title {
    margin-top: 5px;
    color: #37b89f;
}
/* .download-app-ios {
    margin-right: 15px;
}
.download-app-android {
    margin-left: 15px;
} */
.spaceBetween {
    height: 30px;
    width: 30px;
}
#footer, .navbar-default {
    /* background-color: #fff; */
    border-color: #fdfdfd;
}
.translateImages {
    position: relative;
    bottom: 50px;
}
.translateImages div {
    float: right;
    width: 150px;
}
.textFooter h3 {
    font-size: 32px;
}
#footer .textwidget {
    font-size: 20px;
    line-height: 1.6em;
}
.textFooter li {
    font-size: 20px;
    line-height: 1.6em;
}
.textFooter li a{
    font-size: 20px;
    line-height: 1.6em;
}

#footer .facebook-icon img, #footer .twitter-icon img {
    max-width: 50px;
    margin-right: 20px;
}
#footer .facebook-icon img {
    width: 30px;
    height: 40px;
}
#footer .twitter-icon img {
    width: 80px;
    height: 40px;
}

#footer .social-icons {
    margin-top: 40px;
    margin-bottom: 10px;
}
.iconsFlag {
    margin-top:20px;
    margin-bottom: 20px;
}
.iconEngland {
    margin-top: -3px
}

#lang_sel_footer {
    margin: 0;
    padding: 7px;
    text-align: right;
    font: 11px Verdana, sans-serif;
    min-height: 15px;
    clear: both;
    background-color: transparent;
    border: 0px solid transparent;
}
#lang_sel_footer ul li img {
    position: relative;
    top: 1px;
    width: 80px;
    height: 40px;
}
#lang_sel_footer ul li:last-child {
    height: 46px;
}
#lang_sel_footer ul li a {
    text-decoration: none;
    padding: 5px 10px;
    font-size: 0px;
}
#lang_sel_footer ul li a[title="Nederlands"] {
    margin-right: 50px;;
}
#lang_sel_footer ul li a img[title="English"] {
    height: 46px;
    margin-right: 30px;
}
.footer-copyright span {
    color: white;
}
.footer-copyright div {
    padding-top: 20px;
}
#footer, .navbar-default {
    background-color: transparent;
}
.retailer-footer-wrapper {
    display: none;
}
.retailer-link-button .btn-default {
    display: none;
}
@media (max-width: 1600px) {
    .before-footer-wrapper > .footer-title {
        font-size: 44px;
    }
    .textFooter h3 {
        font-size: 30px;
    }
    #footer .textwidget {
        font-size: 18px;
    }
    .textFooter li {
        font-size: 18px;
    }
    .textFooter li a{
        font-size: 18px;
    }
    #lang_sel_footer ul li img {
        width: 70px;
        height: 35px;
    }
    #footer .facebook-icon img {
        width: 27px;
        height: 36px;
    }
    #footer .twitter-icon img {
        width: 72px;
        height: 36px;
    }
}
@media (max-width: 1200px) {
    .before-footer-wrapper > .footer-title {
        font-size: 38px;
        margin-bottom: 50px;
    }
    .textFooter h3 {
        font-size: 28px;
    }
    #footer .textwidget {
        font-size: 16px;
    }
    .textFooter li {
        font-size: 16px;
    }
    .textFooter li a{
        font-size: 16px;
    }
    #lang_sel_footer ul li img {
        width: 60px;
        height: 30px;
    }
    #footer .facebook-icon img {
        width: 24px;
        height: 32px;
    }
    #footer .twitter-icon img {
        width: 64px;
        height: 32px;
    }
}

@media (max-width: 800px) {
    #lang_sel_footer {
        text-align: center;
    }
}
@media (max-width: 636px) {
    .spaceBetween {
        width: 100%;
    }
    .footer-parent {
        padding-left: 3.5em;
    }
}