body {
    margin-right: 15px;
    margin-left: 15px;
}
header.entry-header {
    /* padding: 50px 0; */
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    width: 100%;
    height: 720px;
}
.header-content, .header-content-area {
    margin-top: 265px;
}
.header-content, .header-content-area {
    max-width: 650px;
}
.header-content-area {
    max-width: 750px;
}
.header-content h1, .header-content-area h1 {
    font-size: 60px;
}
.section {
    margin-bottom: 60px;
}

.section .heading {
    text-align: center;
    max-width: 70%;
    margin: 0px auto;
    margin-top: 120px;
}
.section .heading .title {
    color: #000000;
    font-size: 48px;
    font-weight: normal;
    margin: 0px auto;
}
.section .emphasized{
    font-weight: bold;
}

.section .emphasized-alternate{
    color: #37b89f;
}
.section .content {
    font-size: 18px;
    padding-top: 40px;
}

.section .sub-title {
    font-size: 30px;
    text-align: center;
}
.wrapVraagInformationBtn {
    display: flex;
    justify-content: center;
}
.btn-default {
    border: 3px solid #36b89f;
    color: #36b89f;
    border-radius: 10px;
    width:  321px;
    height: 87px;
    text-align: center;
    padding: 27px;
    font-size: 18px;
    cursor: pointer;
}
.bottom120 {
    margin-bottom: 120px;
}
.btn-default:hover {
    color: #333;
    background-color: #636784;
    border-color: #adadad;
}