body {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 18px;
}

header.entry-header {
    /* padding: 50px 0; */
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    /* width: 100%;
    height: 720px; */
    background-size: cover;
    height: 37vw;
}
.header-content, .header-content-area {
    margin-top: 225px;
}
.header-content-alternate {
    float: right;
    text-align: right;
}

.header-content, .header-content-area {
    max-width: 100%;
}
.header-content-area {
    /* max-width: 750px; */
}
.header-content h1, .header-content-area h1 {
    font-size: 60px;
}
.section {
    margin-bottom: 40px;
}

.section .heading {
    text-align: center;
    max-width: 70%;
    margin: 0px auto;
    margin-top: 120px;
    margin-bottom: 20px;
}

.section .heading-narrow h1{
    width: 48%;
}

.section .heading .title {
    color: #000000;
    font-size: 48px;
    font-weight: normal;
    margin: 0px auto;
}

.section .heading .title span {
    line-height: 1.4em;
}

.section .emphasized{
    font-weight: bold;
}

.section .emphasized-alternate{
    color: #37b89f;
}
.section .content {
    font-size: 18px;
    padding-top: 40px;
}

.section .sub-title {
    font-size: 30px;
    text-align: center;
}

.section .centered {
    text-align: center;
}

.section .enum {
    font-size: 38px;
    margin-bottom: 10px;
}

.section .halved {
    width: 40%;
    margin: 0px auto;
}

.map-background {
    background: url("images/home/home_city_bg.png") no-repeat center;
    background-size: cover;
    /*Added DM*/
    overflow: hidden;
    width: 100%;
    padding-bottom: 50px;
    /* padding-top: 50px; */
    padding-top: 0px;
    position: relative;
    z-index: 3;
}
.wrapVraagInformationBtn {
    display: flex;
    justify-content: center;
}
.btn-default {
    border: 3px solid #37B89F;
    color: #37B89F;
    border-radius: 10px;
    width:  321px;
    height: 87px;
    text-align: center;
    padding: 23px;
    font-size: 18px;
    cursor: pointer;
}
.bottom120 {
    margin-bottom: 120px;
}
.btn-default:hover {
    color: white;
    background-color: #636784;
    border-color: transparent;
}
.nav.navbar-nav.navbar-right > li:last-of-type a.active {
    border-bottom: 0px solid transparent;
}

/* slider styles */
.mixedSlider {
    position: relative;
}
.mixedSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    /*
    display: flex;
    flex-wrap: wrap;
    */
}
.mixedSlider .MS-content .item {
    /*display: flex;*/
    display: inline-block;
    flex-direction: column;
    height: auto;
    width: 24%;
    margin-left: 1%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    border: 1px solid #e2e2e2;
    height: auto;
}
.mixedSlider .MS-content .item:first-item {
    margin-left: 0%;
}
.mixedSlider .MS-content .item .imgTitle {
    position: relative;
}
.mixedSlider .blogTitle {
    margin-left: 20px;
    font-size: 30px;
    color: black;
}
.mixedSlider .description {
    margin-left: 20px;
    margin-right: 20px;
    height: 80px;
    font-size: 18px;
}
.mixedSlider .MS-content .item .imgTitle img {
    height: auto;
    width: 100%;
}
.mixedSlider .MS-content .item p {
    font-size: 16px;
    margin: 2px 10px 0 5px;
    text-indent: 15px;
}
.mixedSlider .MS-content .item a {
    float: right;
    margin: 0 20px 0 0;
    font-size: 16px;
    font-style: italic;
    color: rgba(173, 0, 0, 0.82);
    font-weight: bold;
    letter-spacing: 1px;
    transition: linear 0.1s;
}
.mixedSlider .MS-content .item a:hover {
    text-shadow: 0 0 1px grey;
}
.mixedSlider .MS-controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 50px;
    top: 95px;
    color: rgba(0, 0, 0, 0.4);
    transition: 0.15s linear;
}
.mixedSlider .MS-controls button:hover {
    color: rgba(0, 0, 0, 0.8);
}
/* end slider styles */
/*media button*/
.wrapAppImages {
    /* display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; */
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.wrapAppImages a {
    width: 200px;
    background-size: 200px;
}
/* .wrapAppImages .ios {
    margin-right: 20px;
}
.wrapAppImages .android {
    margin-left: 20px;
} */
.firstSpaceBetween {
    width: 40px;
    height: 40px;
}
.mobile {
    display: block;
    height: 60px; 
    background-repeat: no-repeat;
    background-size: 100%;
}
.lineHeight {
    line-height: 2;
}
/*media button*/
@media (max-width: 1750px) {
    .header-content .wrapSmallTitle {
        width: 65%;
    }

    .section .content {
        font-size: 18px;
    }

    .mixedSlider .blogTitle {
        font-size: 28px;
    }
    .mixedSlider .description {
        font-size: 16px;
    }
}

@media (max-width: 1650px) {
    .header-content h1, .header-content-area h1 {
        font-size: 45px;
    }
    .header-content .wrapSmallTitle {
        
    }
    .section .heading .title {
        font-size: 40px;
    }

    .section .content {
        font-size: 16px;
    }
}
@media (max-width: 1460px) {
    .header-content h1 {
        font-size: 40px;
    }
    .header-content, .header-content-area {
        margin-top: 210px;
    }
    .section .content {
        font-size: 15px;
    }
    .mixedSlider .blogTitle {
        font-size: 26px;
    }
    .mixedSlider .description {
        font-size: 15px;
    }
}
@media (max-width: 1460px) {
    .header-content h1 {
        font-size: 36px;
    }
    .header-content, .header-content-area {
        margin-top: 205px;
    }
    
    .mixedSlider .blogTitle {
        font-size: 24px;
    }
    .mixedSlider .description {
        font-size: 14px;
    }
}
@media (max-width: 1300px) {
    .white-small-title, .white-small-title-retailer {
        font-size: 18px;
    }
    .header-content, .header-content-area {
        /* max-width: 340px;
        margin-top: 170px; */
    }
    
}
@media (max-width: 1200px) {
    .header-content h1 {
        font-size: 26px;
    }

    .navbar-collapse {
        background: black;
        opacity: 0.8;
        border-radius: 0px 0px 10px 10px;
    }
}
@media (max-width: 1150px) {
    .header-content, .header-content-area {
        margin-top: 150px;
    }
}
@media (max-width: 992px) {
    .header-content, .header-content-area {
        margin-top: 135px;
    }
}
@media (max-width: 900px) {
    .white-small-title, .white-small-title-retailer {
        display: none;
    }
}
@media (max-width: 780px) {
    .header-content, .header-content-area {
        margin-top: 60px;
        margin-bottom: 100px;
    }
}
@media (min-width: 992px) {
    .how-work-word-homerr .how-work-list-description #home-slider > .container, header.home-slider > .container {
        background: transparent;
        background-repeat: repeat-y;
        background-size: 100%;
        /* position: relative; */
        /* display: none; */
    }
}

/* slider styles */
@media (max-width: 992px) {
    .mixedSlider .MS-content .item {
        width: 48%;
        margin-left:2%;
    }
}
@media (max-width: 600px) {
    .mixedSlider .MS-content .item {
        width: 96%;
        margin-left: 4%;
    }
}
/* end slider styles */