body {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 18px;
}
header.entry-header {
    /* padding: 50px 0; */
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    /* width: 100%;
    height: 720px; */
    background-size: cover;
    height: 37vw;
}
.header-content, .header-content-area {
    margin-top: 265px;
}
.header-content-alternate {
    float: right;
    text-align: right;
}

.header-content, .header-content-area {
    max-width: 650px;
}
.header-content-area {
    max-width: 750px;
}
.header-content h1, .header-content-area h1 {
    font-size: 60px;
}
.section {
    margin-bottom: 60px;
}

.section .heading {
    text-align: center;
    max-width: 70%;
    margin: 0px auto;
    margin-top: 120px;
    margin-bottom: 20px;
}

.section .heading-narrow h1{
    width: 48%;
}

.section .heading .title {
    color: #000000;
    font-size: 48px;
    font-weight: normal;
    margin: 0px auto;
}
.section .emphasized{
    font-weight: bold;
}

.section .emphasized-alternate{
    color: #37b89f;
}
.section .content {
    font-size: 18px;
    padding-top: 40px;
}

.section .sub-title {
    font-size: 30px;
    text-align: center;
}

.section .centered {
    text-align: center;
}

.section .enum {
    font-size: 38px;
    margin-bottom: 10px;
}

.section .halved {
    width: 40%;
    margin: 0px auto;
}

.wrapVraagInformationBtn {
    display: flex;
    justify-content: center;
}
.btn-default {
    border: 3px solid #36b89f;
    color: #36b89f;
    border-radius: 10px;
    width:  321px;
    height: 87px;
    text-align: center;
    padding: 27px;
    font-size: 18px;
    cursor: pointer;
}
.bottom120 {
    margin-bottom: 120px;
}
.btn-default:hover {
    color: #333;
    background-color: #636784;
    border-color: #adadad;
}
.nav.navbar-nav.navbar-right > li:last-of-type a.active {
    border-bottom: 1px solid white;
}

/* slider styles */
.mixedSlider {
    position: relative;
}
.mixedSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    /*
    display: flex;
    flex-wrap: wrap;
    */
}
.mixedSlider .MS-content .item {
    /*display: flex;*/
    display: inline-block;
    flex-direction: column;
    height: auto;
    width: 24%;
    margin-left: 1%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    border: 1px solid #e2e2e2;
    height: auto;
}
.mixedSlider .MS-content .item:first-item {
    margin-left: 0%;
}
.mixedSlider .MS-content .item .imgTitle {
    position: relative;
}
.mixedSlider .blogTitle {
    margin-left: 20px;
}
.mixedSlider .description {
    margin-left: 20px;
    height: 80px;
}
.mixedSlider .MS-content .item .imgTitle img {
    height: auto;
    width: 100%;
}
.mixedSlider .MS-content .item p {
    font-size: 16px;
    margin: 2px 10px 0 5px;
    text-indent: 15px;
}
.mixedSlider .MS-content .item a {
    float: right;
    margin: 0 20px 0 0;
    font-size: 16px;
    font-style: italic;
    color: rgba(173, 0, 0, 0.82);
    font-weight: bold;
    letter-spacing: 1px;
    transition: linear 0.1s;
}
.mixedSlider .MS-content .item a:hover {
    text-shadow: 0 0 1px grey;
}
.mixedSlider .MS-controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 50px;
    top: 95px;
    color: rgba(0, 0, 0, 0.4);
    transition: 0.15s linear;
}
.mixedSlider .MS-controls button:hover {
    color: rgba(0, 0, 0, 0.8);
}
/* end slider styles */

@media (max-width: 1600px) {
    .header-content h1 {
        font-size: 45px;
    }
    .header-content, .header-content-area {
        max-width: 500px;
        margin-top: 235px;
    }
}
@media (max-width: 1460px) {
    .header-content h1 {
        font-size: 40px;
    }
    .header-content, .header-content-area {
        margin-top: 215px;
    }
}
@media (max-width: 1460px) {
    .header-content h1 {
        font-size: 36px;
    }
    .header-content, .header-content-area {
        margin-top: 210px;
    }
}
@media (max-width: 1300px) {
    .white-small-title, .white-small-title-retailer {
        font-size: 18px;
    }
    .header-content, .header-content-area {
        max-width: 340px;
        margin-top: 170px;
    }
    
}
@media (max-width: 1200px) {
    
    .header-content h1 {
        font-size: 26px;
    }
}
@media (max-width: 1150px) {
    
}
@media (max-width: 1050px) {
    .white-small-title, .white-small-title-retailer {
        display: none;
    }
}
@media (max-width: 780px) {
    .header-content, .header-content-area {
        margin-top: 60px;
        margin-bottom: 100px;
    }
}
@media (min-width: 992px) {
    .how-work-word-homerr .how-work-list-description #home-slider > .container, header.home-slider > .container {
        background: transparent;
        background-repeat: repeat-y;
        background-size: 100%;
        /* position: relative; */
        /* display: none; */
    }
}

/* slider styles */
@media (max-width: 992px) {
    .mixedSlider .MS-content .item {
        width: 48%;
        margin-left:2%;
    }
}
@media (max-width: 600px) {
    .mixedSlider .MS-content .item {
        width: 96%;
        margin-left: 4%;
    }
}
/* end slider styles */