body {
    margin-right: 15px;
    margin-left: 15px;
}
header.entry-header {
    /* padding: 50px 0; */
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    /* width: 100%;
    height: 720px; */
    background-size: cover;
    height: 37vw;
}
.header-content, .header-content-area {
    margin-top: 265px;
}
.header-content, .header-content-area {
    max-width: 650px;
}
.header-content-area {
    max-width: 750px;
}
.header-content h1, .header-content-area h1 {
    font-size: 60px;
}
.section {
    margin-bottom: 60px;
}

.section .heading {
    text-align: center;
    max-width: 70%;
    margin: 0px auto;
    margin-top: 120px;
}
.section .heading .title {
    color: #000000;
    font-size: 48px;
    font-weight: normal;
    margin: 0px auto;
}
.section .emphasized{
    font-weight: bold;
}

.section .emphasized-alternate{
    color: #37b89f;
}
.section .content {
    font-size: 18px;
    padding-top: 40px;
}

.section .sub-title {
    font-size: 30px;
    text-align: center;
}
.wrapVraagInformationBtn {
    display: flex;
    justify-content: center;
}
.btn-default {
    border: 3px solid #36b89f;
    color: #36b89f;
    border-radius: 10px;
    width:  321px;
    height: 87px;
    text-align: center;
    padding: 27px;
    font-size: 18px;
    cursor: pointer;
}
.bottom120 {
    margin-bottom: 120px;
}
.btn-default:hover {
    color: #333;
    background-color: #636784;
    border-color: #adadad;
}
.nav.navbar-nav.navbar-right > li:last-of-type a.active {
    border-bottom: 1px solid white;
}
@media (max-width: 1600px) {
    .header-content h1 {
        font-size: 45px;
    }
    .header-content, .header-content-area {
        max-width: 500px;
        margin-top: 235px;
    }
}
@media (max-width: 1460px) {
    .header-content h1 {
        font-size: 40px;
    }
    .header-content, .header-content-area {
        margin-top: 215px;
    }
}
@media (max-width: 1460px) {
    .header-content h1 {
        font-size: 36px;
    }
    .header-content, .header-content-area {
        margin-top: 210px;
    }
}
@media (max-width: 1300px) {
    .white-small-title, .white-small-title-retailer {
        font-size: 18px;
    }
    .header-content, .header-content-area {
        max-width: 340px;
        margin-top: 170px;
    }
    
}
@media (max-width: 1200px) {
    
    .header-content h1 {
        font-size: 26px;
    }
}
@media (max-width: 1150px) {
    
}
@media (max-width: 1050px) {
    .white-small-title, .white-small-title-retailer {
        display: none;
    }
}
@media (max-width: 780px) {
    .header-content, .header-content-area {
        margin-top: 120px;
    }
}
@media (min-width: 992px) {
    .how-work-word-homerr .how-work-list-description #home-slider > .container, header.home-slider > .container {
        background: transparent;
        background-repeat: repeat-y;
        background-size: 100%;
        /* position: relative; */
        /* display: none; */
    }
}