.sectionWerken {
    margin-top: -220px;
}
.header-content, .header-content-area {
    margin-top: 0px;
}
.header-content-area-inner {
    padding-top: 14%;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    width: 80%;
}
.header-content-area-inner p {
    width: 70%;
}
.topBoldText {
    margin-top: 10px;
}
.companies-logo-wrapper {
    display: none;
}
.before-footer-wrapper > .footer-title {
    display: none;
}
.download-app {
    display: none;
}
.site-main .entry-content {
    padding-bottom: 0px;
}
@media (max-width: 780px){
    .header-content, .header-content-area {
        margin-bottom: 0px;
    }
    .topBoldText {
        margin-top: 0px;
    }
    .header-content h1, .header-content-area h1 {
        font-size: 26px;
    }
}
