.phoneDiv {
    /* height: 720px;
    width: 400px; */
    background-size: 370px;
    height: 93%;
    width: 30%;
    margin-top: -390px;
    margin-left: 59%;
    /* border: 1px solid red; */
    position: absolute;
}
.wrapDivApps {
    margin-top: -70px;
}
.wrapDivApps span{
    color: black;
    font-family: "Seravek";
    font-size: 20px;
    font-weight: 600;
}
.wrapDivApps .wrapText{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


/*end of part one*/

.section .content {
    font-size: 18px;
    padding-top: 40px;
}

.section .sub-title {
    font-size: 30px;
    text-align: center;
}



/*
.section .content {
    width: 60%;
    margin: 0px auto;
}
*/

.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.image-container .image {
    position: relative;
}

.image-container .image img {
    width: 100%;
}

.image-container .image-title {
    color: white;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.image-container .overlay {
    background-image: linear-gradient(to bottom right,#3d314a,#80ffe7);
    opacity: .7; 
    bottom: 0;
    left: 0;
    position: absolute;
    right:0;
    top:0;
    z-index: 1;
}

.image-container .image-description {
    width: 70%;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
}

.image-container2 {
    display: flex;
    flex-wrap: wrap; }

.image-container2 .image-item {
    width: 24%;
    margin-right:1%;
    display: flex;
    flex-direction: column;
    border: 1px solid #e2dcdc;
}

.image-container2 .image-item img {
    width: 100%;
    height: auto;
}

.image-container2 .image-item .image-text {
    height: 50px;
    font-size: 32px;
    font-weight: bold;
}

.image-container2 .image-item .description {
    font-size: 16px;
    font-weight: normal;
    height: 50px;
    margin-left: 20px;
}

.image-container2 .flex-image {
    flex: 1 0 auto; 
}

/* end of part two*/

.map-section {
	background: url("images/home/home_city_bg.png") no-repeat center;
	background-size: cover;
	/*Added DM*/
    overflow: hidden;
    width: 100%;
    padding-bottom: 50px;
    /* padding-top: 50px; */
    padding-top: 0px;
    position: relative;
    z-index: 3;
}
.map-section .heading {
    width: 32%
}
.map-section .row-distanced {
    margin-top: 40px;
}

.map-section .map-panel {
    width: 40%;
    margin: 0px auto;
}

.map-section .map-panel .part{
    text-align: center;
}

.map-section .map-panel .part .content{
    width: 70%;
    margin: 0px auto;
}

.map-section .link {
    color: #37b89f;
    cursor: pointer;
}

.map-section .overlay-top {
    background-image: linear-gradient(to bottom right,#ffffff,#ffffff);
    bottom: 70%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.map-section .overlay-bottom {
    background-image: linear-gradient(to bottom right,#ffffff,#ffffff);
    top: 70%;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.font18 {
    font-size: 18px;
}
.wrapGreenLink {
    margin-top: 20px;
    margin-bottom: 30px;
}
.arrowGreen {
    height: 30px;
    background: url("images/home/arrow.png") no-repeat center;
}

/* end of part three */

.slider-wrapper {
    width: 65%;
    margin: 0px auto;
    text-align: center;
    font-size: 18px;
}

.slider-wrapper .slider {
    margin: 0px auto;
    width: 300px;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.slider-wrapper .slider-btn-left {
    background: url("images/home/left-arrow.png") no-repeat center;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 50px;
    cursor: pointer;
}

.slider-wrapper .slider-btn-right {
    background: url("images/home/right-arrow.png") no-repeat center;
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 50px;
    cursor: pointer;
}

.slider-wrapper .slider-link {
    background: url("images/home/slider-button-unselected.png") no-repeat center;
    width: 30px;
    height: 30px;
    float: left;
    cursor: pointer;
}

.slider-wrapper .active {
    background: url("images/home/slider-button-selected.png") no-repeat center;
}

.slider-wrapper .slider-text {
    clear: both;
}
.hideSlidertext {
    display: none;
}

/*media screan part*/
@media (max-width: 1600px) {
    .phoneDiv {
        margin-top: -320px;
        background-size: 300px;
    }
}
@media (max-width: 1460px) {
    .phoneDiv {
        margin-left: 64%;
    }
}
@media (max-width: 1300px) {
    .phoneDiv {
        background-size: 250px;
        margin-top: -300px;
    }
}
@media (max-width: 1200px) {
    .phoneDiv {
        background-size: 220px;
        margin-top: -270px;
    }
    .header-content h1 {
        font-size: 26px;
    }
    .section .heading .title {
        font-size: 40px;
    }
}
@media (max-width: 1150px) {
    .phoneDiv {
        background-size: 200px;
        margin-left: 67%;
    }
}
@media (max-width: 1050px) {
    .phoneDiv {
        background-size: 170px;
        margin-left: 70%;
    }
}
@media (max-width: 1050px) {
    .phoneDiv {
        display: none;
    }
}
@media screen and (max-width: 992px) {
    .image-container2 .image-item {
        width: 48%;
        margin-right:2%;
    }
  }
  @media (max-width: 992px) {
    .slider div {
        display: none;
    }
    .slider-text {
        display: none;
    }
}
@media (max-width: 991px) {
    .map-section .heading {
        width: 100%;
    }
    .map-section .row-distanced {
        margin-top: 25px;
    }
    .top30 {
        margin-top: 30px;
    }
}
@media (max-width: 800px) {
    .wrapDivApps {
        margin-top: -30px;
    }
}
@media (max-width: 600px) {
    .map-section .map-panel {
        width: 52%;
    }
    .image-container2 .image-item {
        width: 96%;
        margin-right: 4%;
    }
}
@media (max-width: 487px) {
    .firstSpaceBetween {
        width: 20px;
        height: 20px;
        width: 100%;
    }
}