.sectionOnsNetwerk {
    margin-top: -150px;
}
.header-content p {
    width: 80%
}
.wrapPunten {
    margin-top: 100px;
    margin-left: 5%;
    width: 90%;
}
.buurtPunten {
    display: flex;
    flex-wrap: wrap-reverse;
}
.buurtPunten div {
    width: 50%;
}
.wrapHead {
    padding-top: 4%;
}
.buurtPunten .emphasized-alternate {
    color: #37b89f;
}
.fontNormal {
    font-weight: normal;
}
.buurtPunten .emphasized {
    font-weight: bold;
}
.imgPunten img {
    width: 100%;
}
.buurtPunten .text {
    padding-left: 80px;
    padding-right: 70px;
}
.buurtPunten .text p {
    font-size: 18px;
}
.servicePunten {
    display: flex;
    flex-wrap: wrap;
}
.servicePunten div {
    width: 50%;
}
.servicePunten .text {
    padding-left: 80px;
    padding-right: 90px;
}
.servicePunten .text p {
    font-size: 18px;
}
@media (max-width: 1650px) {
    .buurtPunten .text p {
        font-size: 18px;
    }
    .servicePunten .text p {
        font-size: 18px;
    }
}
@media (max-width: 1600px) {
    .header-content, .header-content-area {
        margin-top: 190px;
    }
}
@media (max-width: 1250px) {
    .header-content, .header-content-area {
        margin-top: 165px;
    }
}
@media (max-width: 1200px) {
    .wrapHead {
        padding-top: 0%;
    }
    .buurtPunten div {
        width: 100%;
    }
    .servicePunten div {
        width: 100%;
    }
    .buurtPunten .text {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 50px;
    }
    .servicePunten .text {
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (max-width: 1100px) {
    .header-content, .header-content-area {
        margin-top: 130px;
    }
}
@media (max-width: 992px) {
    .header-content, .header-content-area {
        margin-top: 70px;
    }
}
@media (max-width: 880px) {
    .header-content p {
        display: none;
    }
}