.entry-content {
    margin-top: -155px;
}
.map-background1 {
    background: url("images/home/home_city_bg.png") no-repeat center;
    background-size: cover;
    /*Added DM*/
    /* overflow: hidden; */
    width: 100%;
    /* padding-bottom: 120px; */
    padding-top: 100px;
    position: relative;
    z-index: 3;
    height: 925px;
}
.map-background .first-name, .postcode, select {
    
}
.map-background .col-md-12 {
    text-align: center;
}
.map-background input, select {
    height: 60px;
    border: 2px solid #d9d9d9;
    border-radius: 0px;
    margin-bottom: 20px;
    padding: 0 20px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    width: 100%;
}
.map-background input[type="tel"] {
    max-width: 50%;
    /* text-align: center; */
}
.map-background input[type="submit"] {
    margin-top: 30px;
    background-color: white;
    border: 3px solid #37B89F;
    color: #37B89F;
    border-radius: 10px;
    max-width: 275px;
    height: 60px;
    text-align: center;
    padding: 6px;
    font-size: 18px;
    cursor: pointer;
}
.nextSection {
    max-width: 30%!important;
    margin-top: 0px!important;
}
.imageApp {
    text-align: center;
    margin-bottom: 60px;
}
.imageApp img {
    width: 100%;
}
.imageApp .col-sm-6 {
    margin-top: 50px;
}
#before-footer {
    background: none;
}
.before-footer-wrapper h1 {
    display: none;
}
.companies-logo-wrapper {
    display: none;
}
@media (max-width: 1700px) {
    .header-content, .header-content-area {
        max-width: 50%;
    }
}
@media (max-width: 1600px) {
    .map-background1 {
        height: 730px;
    }
}
@media (max-width: 1200px) {
    .nextSection {
        max-width: 70%!important;
    }
}
@media (max-width: 992px) {
    .header-content, .header-content-area {
        margin-top: 60px;
    }
    .nextSection {
        margin-top: 140px!important;
    }
    .map-background input[type="tel"] {
        max-width: 100%;
    }
}
@media (max-width: 900px) {
    .header-content p {
        display: none;
    }
    .header-content, .header-content-area {
        margin-top: 30px;
        max-width: 100%;
    }
}