.navbar-fixed-bottom, .navbar-fixed-top {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1030;
}
.imgHeader {
    padding-top: 7px;
}
.transparent-header {
    /* background-color: #4e726a; */
    background-color: transparent;
}
.nav.navbar-nav.navbar-right > li:last-of-type a {
    background: transparent;
    color: #fff;
    border-radius: 0px;
    padding: 8px 30px;
    margin-top: 7px;
    border-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}   
.nav.navbar-nav.fR > li:last-of-type a {
    background: transparent;
    color: #fff;
    border-radius: 10px;
    padding: 8px 30px;
    margin-top: 7px;
    border: 1px solid;
}  
.homeNetwerk li:first-child {
    display: none;
}
.nav.navbar-nav.fR > li:last-of-type a:hover {
    color: #398d8f;
}
.nav.navbar-nav.homeNetwerk > li:last-of-type a:hover {
    color: #398d8f;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0px;
}
.main-content {
    /* margin-top: -160px;
    padding-top: 80px; */
    padding-top: 0px;
}
@media (min-width: 992px) {
    .main-content {
        padding-top: 0px;
    }
}

@media (max-width: 1200px){
    .nav.navbar-nav.homeNetwerk > li:last-of-type a {
        padding-left: 20px;
    }
    .navbar-default .navbar-nav>li>a {
        color: #fff;
        margin-left: 20px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 88%;
    }
    
    .navbar-header {
        background-color: transparent;
    }
}
@media (max-width: 767px) {
    .container>.navbar-header {
        margin-left: 20px;
        margin-right: 20px;
    }
}

