.homeLink {
    display: none!important;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1030;
}
.imgHeader {
    padding-top: 7px;
}
.transparent-header {
    /* background-color: #4e726a; */
    background-color: transparent;
}
.homeNetwerk li {
    padding-right: 25px;
}
.nav.navbar-nav.navbar-right > li:last-of-type a {
    background: transparent;
    color: #fff;
    border-radius: 0px;
    padding: 5px 20px;
    margin-top: 3px;
    border-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
}   
/* .nav.navbar-nav.fR > li:last-of-type a { */
.homeNetwerk li:nth-child(5) {
    background: transparent;
    color: #fff;
    border-radius: 10px;
    padding: 0px 3px;
    margin-top: 7px;
    border: 1px solid;
}
.homeNetwerk li:first-child {
    display: none;
}
.homeNetwerk div {
    /* display: none !important; */
}
.nav.navbar-nav.fR > li:last-of-type a:hover {
    color: #398d8f;
}
.navbar-default .navbar-nav > li > a.active {
    color: white;
    background: transparent;
    color: #fff;
    border-radius: 0px;
    padding: 8px 30px;
    margin-top: 7px;
    border-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid white;
}
.nav.navbar-nav.homeNetwerk > li:last-of-type a:hover {
    color: #398d8f;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0px;
}
.main-content {
    /* margin-top: -160px;
    padding-top: 80px; */
    padding-top: 0px;
}
.mobileNavHeight {
    height: 100vh;
}
.imageCloseBtn {
    background: url("images/header-images/x-btn.png") no-repeat center;
    background-size: cover;
    overflow: hidden;
    width: 50px;
    height: 50px;
    position: relative;
    margin-right: 41%;
}
@media (min-width: 992px) {
    .main-content {
        padding-top: 0px;
    }
}

@media (max-width: 1200px){
    .navbar-default .navbar-nav > li > a.active {
        margin-left: 22px;
    }
    .nav.navbar-nav.homeNetwerk > li:last-of-type a {
        padding-left: 20px;
    }
    .navbar-default .navbar-nav>li>a {
        color: #fff;
        margin-left: 20px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 88%;
    }
    
    .navbar-header {
        background-color: transparent;
    }
}
@media (max-width: 767px) {
    .container>.navbar-header {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .imgHeader img {
        width: 160px;
    }
    
}

