.entry-content {
    margin-bottom: 100px;
}

.section-retailer {
    margin-top: -60px;
}
.section .heading {
    margin-top: 60px;
}
.header-content h1 {
    text-align: left;
}
.white-small-title, .white-small-title-retailer {
    text-align: left;
 }
.section-retailer .heading {
    max-width: 62%;
}

.section-retailer .heading .separated-text {
    margin-bottom: 75px;
}
.wragINfoBtn {
    margin-top: 60px;
    margin-bottom: 70px;
}
#singleSlider h2 {
    color: black;
}
#singleSlider {
    display: flex;
    width: 86%;
    margin: 0px auto;
    margin-top: 100px;
    flex-wrap: wrap-reverse;
}

#singleSlider .slide-text {
    margin-bottom: 40px;
}

#singleSlider h1 {
    font-size: 48px;
    color: black;
}

#singleSlider p {
    font-size: 20px;
}

#singleSlider .slider-wrapper {
    width: 50%;
    text-align: left;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#singleSlider .MS-content {
    width:50%;
    float: left;
}
.section-retailer .bottom120 {
    display: none;
}
#singleSlider .slider-wrapper .slider {
    margin-bottom: 0px;
    margin-top: 0px;
}

#singleSlider .slider-wrapper .slider-text {
    /* margin-bottom: 100px; */
}
.slText {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; */
}

#singleSlider .item {
    width: 100%;
}
.section-retailer h1 {
    margin-top: 70px;
}
@media (max-width: 1720px) {
    .header-content, .header-content-area {
        margin-top: 240px;
    }
}
@media (max-width: 1350px) {
    .header-content, .header-content-area {
        margin-top: 195px;
    }
}
@media (max-width: 994px) {
    /* #singleSlider .slider-wrapper {
        width: 100%;
        
    }
    #singleSlider .MS-content {
        width:100%;
    } */
}
@media (max-width: 992px) {
    .header-content, .header-content-area {
        margin-top: 140px;
    }
    #singleSlider .MS-content {
        width:100%;
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .header-content, .header-content-area {
        margin-top: 30px;
    }
}