.entry-content {
    margin-bottom: 100px;
}

.section-retailer {
    margin-top: -90px;
}
.section .heading {
    margin-top: 60px;
}
.header-content h1 {
    text-align: left;
}
.white-small-title, .white-small-title-retailer {
    text-align: left;
 }
.section-retailer .heading {
    max-width: 62%;
}

.section-retailer .heading .separated-text {
    margin-bottom: 75px;
}
.wragINfoBtn {
    margin-top: 60px;
    margin-bottom: 30px;
}
#singleSlider .slide-text p{
    line-height: 1.2em;
}
#singleSlider h2 {
    color: black;
}
#singleSlider {
    display: flex;
    width: 86%;
    margin: 0px auto;
    margin-top: 70px;
    flex-wrap: wrap-reverse;
}

#singleSlider .slide-text {
    /* margin-bottom: 40px; */
}

#singleSlider h1 {
    font-size: 48px;
    color: black;
}

#singleSlider p {
    font-size: 18px;
}

#singleSlider .slider-wrapper {
    width: 50%;
    text-align: left;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#singleSlider .MS-content {
    width:50%;
    float: left;
}
.section-retailer .bottom120 {
    display: none;
}
#singleSlider .slider-wrapper .slider {
    margin-bottom: 0px;
    margin-top: 0px;
}
.entry-content :last-child.section-retailer {
    margin-top: 50px;
}
.entry-content :last-child.section-retailer .heading-narrow {
    margin-top: 60px;
}
.section .centered {
    margin-bottom: 90px;
}
#singleSlider .slider-wrapper .slider-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
#singleSlider .slider-wrapper .hideSlidertext {
    display: none;
}
.wrapFirstSlider {
    display: flex;
    justify-content: space-around;
}
.firstSlider {
    position: absolute;
    bottom: -55px;
}
.slText {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; */
}

#singleSlider .item {
    width: 100%;
}
.section-retailer h1 {
    margin-top: 70px;
}
.slider-section {
    margin-top: 130px;
}
.emphasized-other {
   color: #34888A;
}
.btn-default {
    border: 3px solid #34888A;
}
.slider-wrapper .active {
    background: url(images/retailer/indicator_blue.png) no-repeat center !important;
}
.before-footer-wrapper h1 {
    display: none;
}
.retailer-footer-wrapper h1 {
    display: block;
}
.before-footer-wrapper .app-icons-campaign {
    display: none;
}
#footer .widget-title {
    color: #34888A!important;
}
.before-footer-wrapper > .footer-title > .emphasized-other {
    color: #34888A;
}
.retailer-footer-wrapper {
    display: block !important;
}
.blackColorFont {
    color: black;
    font-weight: normal;
}
.retailer-link-button .btn-default {
    display: block !important;
}
#footer {
    margin-top: 0px;
}
@media (max-width: 1720px) {
    .header-content, .header-content-area {
        margin-top: 240px;
    }
}

@media (max-width: 1300px) {
    #singleSlider h2 {
        font-size: 25px;
    }
    #singleSlider p {
        font-size: 15px;
    }
}
@media (max-width: 1150px) {
    #singleSlider h2 {
        font-size: 22px;
    }
    #singleSlider p {
        font-size: 13px;
    }
}
@media (max-width: 994px) {
    /* #singleSlider .slider-wrapper {
        width: 100%;
        
    }
    #singleSlider .MS-content {
        width:100%;
    } */
}
@media (max-width: 992px) {
    .header-content, .header-content-area {
        margin-top: 140px;
    }
    #singleSlider .MS-content {
        width:100%;
        margin-bottom: 30px;
    }
    .section-retailer .heading {
        max-width: 100%;
    }
    .section-retailer .heading-narrow h1 {
        width: 100%;
    }
    #singleSlider .slider-wrapper {
        width: 100%;
    }
    #singleSlider .item {
        margin-left: 0% !important;
    }
}
@media (max-width: 767px) {
    .header-content, .header-content-area {
        margin-top: 30px;
    }
}