.sectionOverOns {
    margin-top: -150px;
}
.section {
    margin-bottom: 37%;
}
.sectionOverOns .subTitle {
    font-size: 36px;
    padding-top: 25px;
}
.sectionOverOns .greenLine {
    width: 162px;
    height: 3px;
    background-color: #37b89f;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 40px;
}
.top-25 {
    margin-top: 25px;
}
.section .heading .headingTwo {
    margin-top: 80px;
}
.wrapParagraphs {
    margin-top: 70px;
    margin-bottom: 170px;
}
.wrapParagraphs .col-md-5 {
    text-align: left;
}
.wrapParagraphs .col-md-2 {
    height: 80px;
}
#before-footer {
    background: transparent;
}
.before-footer-wrapper > .footer-title {
    display: none;
}
.download-app {
    display: none;
}