.sectionOverOns {
    margin-top: -150px;
}
.section {
    margin-bottom: 37%;
}
.sectionOverOns h1 {
    text-align: center;
    font-size: 48px;
    color: black;
}
.sectionOverOns .subTitle {
    font-size: 36px;
    padding-top: 25px;
}
.sectionOverOns .greenLine {
    width: 162px;
    height: 3px;
    background-color: #37b89f;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 40px;
}
.top-25 {
    margin-top: 25px;
}
.headingTwo {
    margin-top: 135px;
}

.wrapParagraphs {
    /* margin-top: 70px;
    margin-bottom: 170px; */
}
.wrapParagraphs .col-md-5 {
    text-align: left;
}
.wrapParagraphs .col-md-2 {
    height: 80px;
}
.wrapParagraphs .heading {
    margin-top: 70px
}
#before-footer {
    background: transparent;
}
.before-footer-wrapper > .footer-title {
    display: none;
}
.download-app {
    display: none;
}
.mapBackground {
    background: url("images/home/home_city_bg.png") no-repeat center;
    background-size: cover;
	/*Added DM*/
    overflow: hidden;
    width: 100%;
    padding-bottom: 50px;
    /* padding-top: 50px; */
    padding-top: 0px;
    position: relative;
    z-index: 3;
    min-height: 750px;
    margin-bottom: 80px;
}
@media (max-width: 900px) {
    .section .heading {
        max-width: 100%;
    }
}