@font-face {
font-family: 'Seravek';
src: url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-MediumItalic.eot);
src: url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-MediumItalic.eot?#iefix) format('embedded-opentype'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-MediumItalic.woff2) format('woff2'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-MediumItalic.woff) format('woff'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-MediumItalic.ttf) format('truetype');
font-weight: 500;
font-style: italic;
}
@font-face {
font-family: 'Seravek';
src: url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-Italic.eot);
src: url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-Italic.eot?#iefix) format('embedded-opentype'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-Italic.woff2) format('woff2'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-Italic.woff) format('woff'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-Italic.ttf) format('truetype');
font-weight: normal;
font-style: italic;
}
@font-face {
font-family: 'Seravek';
src: url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-LightItalic.eot);
src: url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-LightItalic.eot?#iefix) format('embedded-opentype'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-LightItalic.woff2) format('woff2'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-LightItalic.woff) format('woff'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-LightItalic.ttf) format('truetype');
font-weight: 300;
font-style: italic;
}
@font-face {
font-family: 'Seravek';
src: url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-Bold.eot);
src: url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-Bold.eot?#iefix) format('embedded-opentype'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-Bold.woff2) format('woff2'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-Bold.woff) format('woff'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-Bold.ttf) format('truetype');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'Seravek';
src: url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-Light.eot);
src: url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-Light.eot?#iefix) format('embedded-opentype'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-Light.woff2) format('woff2'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-Light.woff) format('woff'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-Light.ttf) format('truetype');
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: 'Seravek';
src: url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-Medium.eot);
src: url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-Medium.eot?#iefix) format('embedded-opentype'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-Medium.woff2) format('woff2'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-Medium.woff) format('woff'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-Medium.ttf) format('truetype');
font-weight: 500;
font-style: normal;
}
@font-face {
font-family: 'Seravek';
src: url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-BoldItalic.eot);
src: url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-BoldItalic.eot?#iefix) format('embedded-opentype'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-BoldItalic.woff2) format('woff2'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-BoldItalic.woff) format('woff'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-BoldItalic.ttf) format('truetype');
font-weight: bold;
font-style: italic;
}
@font-face {
font-family: 'Seravek';
src: url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-ExtraLight.eot);
src: url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-ExtraLight.eot?#iefix) format('embedded-opentype'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-ExtraLight.woff2) format('woff2'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-ExtraLight.woff) format('woff'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-ExtraLight.ttf) format('truetype');
font-weight: 200;
font-style: normal;
}
@font-face {
font-family: 'Seravek';
src: url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek.eot);
src: url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek.eot?#iefix) format('embedded-opentype'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek.woff2) format('woff2'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek.woff) format('woff'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek.ttf) format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Seravek';
src: url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-ExtraLightItalic.eot);
src: url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-ExtraLightItalic.eot?#iefix) format('embedded-opentype'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-ExtraLightItalic.woff2) format('woff2'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-ExtraLightItalic.woff) format('woff'),
url(//homerr.nl/wp-content/themes/homerr/assets/fonts/seravek/subset-Seravek-ExtraLightItalic.ttf) format('truetype');
font-weight: 200;
font-style: italic;
}